/* Global Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Inter";
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: large;
}

/* Navbar */

.navContainer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.navItem {
  padding: 10px;
}

.disabledLink {
  color: slategray;
  padding: 10px;
  pointer-events: none;
}

/* Homepage styling */

.homeContainer {
  width: 66%;
  margin: auto;
}

.homeTitle {
  text-align: center;
}

.homeButtonContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 66%;
  justify-content: space-around;
  padding-top: 5rem;
}

.acknowledgements {
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  border: solid 1px white;
}

/* Playground styling */

.submitButton {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: large;
}

select {
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

option {
  background-color: black;
  padding: 2px;
  border-radius: 0.25em;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid white;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: black;
  margin: auto;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: white;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}
