/* Global Styling */
body {
  background-color: black;
  font-family: "Inter";
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: large;
}

/* Custom Globals */

/* Navbar */

.navContainer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.navItem {
  color: white;
  padding: 10px;
}

/* Homepage styling */

.homeContainer {
  width: 66%;
  margin: auto;
}

.homeTitle {
  text-align: center;
}

.homeButtonContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 66%;
  justify-content: space-around;
  padding-top: 5rem;
}

.acknowledgements {
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  border: solid 1px white;
}
